# Absolute or relative path to the 'manage.py' command:
MANAGE_BIN="[DAEMON-WORKER][WEB-DOMAIN]/public/gwhcp_api/manage.py"

# Absolute or relative path to the 'python3' command:
PYTHON_BIN="[DAEMON-WORKER][WEB-DOMAIN]/venv/bin/python"