[Unit]
Description=Worker Daemon
After=network.target postgresql.service

[Service]
User=gwhcp
Group=gwhcp

EnvironmentFile=-[SYSTEM-CONFD]worker

ExecStart=[SYSTEM-SH] -c '${PYTHON_BIN} ${MANAGE_BIN} daemon_worker start'
ExecStop=[SYSTEM-SH] -c '${PYTHON_BIN} ${MANAGE_BIN} daemon_worker stop'
ExecReload=[SYSTEM-KILL] -HUP $MAINPID

Restart=always

[Install]
WantedBy=multi-user.target
