# If using Windows and Perl ActiveStat, this is to enable Perl script as CGI.
#ScriptInterpreterSource registry

#
# Directives to add to your Apache conf file to allow use of AWStats as a CGI.
# Note that path "/usr/local/awstats/" must reflect your AWStats install path.
#
Alias /awstatsclasses "[AWSTATS-CLASSES]"
Alias /awstatscss "[AWSTATS-CSS]"
Alias /awstatsicons "[AWSTATS-ICON]"

ScriptAlias /awstats/ "[AWSTATS-CGI]"

#
# This is to permit URL access to scripts/files in AWStats directory.
#
<Directory "[AWSTATS-BASE]">
    Options None
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
