[DOVECOT-USERNAME]@[DOVECOT-DOMAIN]::vmail:vmail::[DOVECOT-VARLIB][DOVECOT-DOMAIN]/[DOVECOT-USERNAME]/Maildir::userdb_mail=maildir:[DOVECOT-VARLIB][DOVECOT-DOMAIN]/[DOVECOT-USERNAME]/Maildir userdb_quota_rule=*:bytes=0M
