[DOVECOT-USERNAME]@[DOVECOT-DOMAIN]:[DOVECOT-PASSWORD]:vmail:vmail::[DOVECOT-VARLIB][DOVECOT-DOMAIN]/[DOVECOT-USERNAME]/Maildir::userdb_mail=maildir:[DOVECOT-VARLIB][DOVECOT-DOMAIN]/[DOVECOT-USERNAME]/Maildir userdb_quota_rule=*:bytes=[DOVECOT-QUOTA]M
