$ORIGIN [WEB-DOMAIN].
$TTL 2H
@                    IN      SOA     [BIND-NS-DOMAIN]. hostmaster.[WEB-DOMAIN]. (
    [BIND-DATETIME]01 ; serial
    6H ; refresh
    30M ; retry
    3D ; expire
    1D ; nxdomain ttl
)

                     IN      NS      [BIND-NS-DOMAIN].

[BIND-RECORD]
